<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Withclick</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        html, body {height: 100%;}
        .vertical-center {min-height: 100%;min-height: 100vh;display: -webkit-box;display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align : center;
            -webkit-align-items : center;
            -moz-box-align : center;
            -ms-flex-align : center;
            align-items : center;
            width: 100%;
            -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
            -webkit-justify-content : center;
            justify-content : center;
            margin-bottom: 0;
        }

        .container {

        }

    </style>
</head>
<body>
    <div class="vertical-center">
        <section>
            <form method="post" action="/login" name="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">계정명</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="계정명">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">암호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="암호">
                </div>
                <button type="submit" class="btn btn-default">접속</button>
            </form>
        </section>
    </div>
</body>
</html>